* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
	overflow: hidden;
}
.wrap {
	overflow: hidden;
	height: 100%;
	background: url(images/bg.png) no-repeat top center/100% auto;
}
.top {
	margin: 0 auto;
	margin-top: 25px;
	width: 200px;
	height: 55px;
	background: url(images/text.png) no-repeat 0px 0px/100%;
}
.top.congrats {
	background-position: 0px -55px;
}
.red {
	margin: 0 auto;
	margin-top: 15px;
	width: 241px;
	height: 353px;
	background: url(images/red.png) no-repeat 0px 0px/100%;
	cursor: pointer;
}
.red.congrats {
	background-position: 0px -353px;
}
.small-red {
	position: absolute;
	top: -40px;
	width: 39px;
	height: 30px;
	background: url(images/small-red.png) no-repeat center/100%;
}
.message-box {
	width: 150px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
}
.message-box #message {
	padding: 15px 0 5px;
	font-size: 16px;
}
.message-box #monney {
	color: red;
	font-size: 30px;
	font-weight: bold;
}
.points {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: url(images/bg2.png) no-repeat center/100%;
}

.shake-chunk {
	transform-origin: center center;
	animation: shake-chunk 4s ease-in-out infinite
}
@keyframes shake-chunk {
	2% {
		transform:translate(5px, 2px) rotate(-12deg)
	}
	4% {
		transform:translate(-6px, 3px) rotate(1deg)
	}
	6% {
		transform:translate(3px, 6px) rotate(14deg)
	}
	8% {
		transform:translate(1px, 8px) rotate(1deg)
	}
	10% {
		transform:translate(-5px, 10px) rotate(0deg)
	}
	12% {
		transform:translate(-11px, 2px) rotate(7deg)
	}
	14% {
		transform:translate(4px, 15px) rotate(11deg)
	}
	16% {
		transform:translate(4px, -8px) rotate(15deg)
	}
	18% {
		transform:translate(-5px, 10px) rotate(1deg)
	}
	20% {
		transform:translate(-1px, 3px) rotate(15deg)
	}
	22% {
		transform:translate(-8px, 5px) rotate(-6deg)
	}
	24% {
		transform:translate(-1px, -9px) rotate(8deg)
	}
	26% {
		transform:translate(9px, 11px) rotate(-13deg)
	}
	28% {
		transform:translate(-7px, 4px) rotate(9deg)
	}
	30% {
		transform:translate(8px, 14px) rotate(9deg)
	}
	32% {
		transform:translate(-4px, 11px) rotate(-11deg)
	}
	34% {
		transform:translate(14px, 11px) rotate(-8deg)
	}
	36% {
		transform:translate(-13px, -8px) rotate(13deg)
	}
	38% {
		transform:translate(-12px, 1px) rotate(-13deg)
	}
	0%,40%,100% {
		transform:translate(0, 0) rotate(0)
	}
}

